@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    margin: 0;
}

.container-body{
   max-width: 850px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto ;
   height: 100vh;
   font-family: 'Russo One', sans-serif;
   background-image: url(/img/the-mandalorian-season-2-tv-series-2020-2560x1440-2765.jpg);
   background-position: center;
}

textarea{
    padding: 1rem;
    width: 29vh;
    background:transparent;
    font-family: 'Russo One', sans-serif;
    border:solid white;
    margin-top:40px;
    margin-bottom:40px;
}


#output{
    border: 1px solid black;
    padding: 1rem;
    width:29vh;
    height: 25vh;
    font-size: 20px;
    border: solid white;
    margin-top:40px;
    margin-bottom:60px;
}

.container-main{
    margin: auto;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    text-align: center;
    font-size: 50px;
    color: white;
    border: solid white;
    
}

.heading{

   
    align-items: center;
    width: 400px;
    margin-top:40px;
    
}


/* Button */


.btn-translate {

	background-image:linear-gradient(to top left,#eedf0f ,grey);
	border-radius:28px;
	border:3px solid white;
    color:white;
    font-size: 20px;
	padding:16px 31px;
	text-decoration:none;
	
}
.btn-translate:active {
	position:relative;
	top:1px;
}

        

